<div class="sticky">

  <nav class="top-bar" data-topbar="" role="navigation" data-options="sticky_on: large">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">Week Recipes</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  
<section class="top-bar-section">

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li><a href="#" data-reveal-id="myModal">Create new recipe</a></li>
      <li><%= link_to "ro", data: {:"reveal-id" => "myModal", :"reveal-ajax" => true} %></li>

    </ul>
  </section></nav>
</div>



      
      
      
      

<p>  </p>

<div class="row weekdays">
  <ul class="small-block-grid-7">
    <li>Mon</li>
    <li>Tue</li>
    <li>Wed</li>
    <li>Thu</li>
    <li>Fri</li>
    <li>Sat</li>
    <li>Sun</li>
  </ul>
</div>

<div class="row">
  <h1>All recipes</h1>
  <div class="small-2 large-4 columns">TEST1
    <%= @recipes.each do |x| %>
      <%= x %>
    <% end %>
  </div>
</div>

