// Place all the styles related to the AllRecipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe  {
    border: 1px solid silver;
}

#week {  
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background-color: rgb(248, 248, 248);

}

.weekdays {
    border-left: 4px solid white;
    padding-top: 10px !important;
    text-align:center;
}

.dragenter {
    border: 1px dashed blue;

}